In [1]:
import pandas as pd

# Read csv file

In [2]:
df_league = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [3]:
df_league.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [4]:
df_league.rename(columns = {'Date':'date',
                            'HomeTeam':'home_team',
                            'AwayTeam':'away_team',
                            'FTHG':'home_goals',
                            'FTAG':'away_goals'}, inplace=True)

In [5]:
df_league.head()

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

# Read multiple urls

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv

*Link: root + season + league*

In [6]:
# create root var
root = "https://www.football-data.co.uk/mmz4281"

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv
- https://www.football-data.co.uk/mmz4281/2425/E2.csv
- https://www.football-data.co.uk/mmz4281/2425/E3.csv
- https://www.football-data.co.uk/mmz4281/2425/EC.csv

In [7]:
leagues = ['E0','E1','E2','E3','EC']
frames = []

for league in leagues:
    df = pd.read_csv(root + '/2425/' + league + '.csv')
    frames.append(df)

In [8]:
len(frames)

5

In [9]:
frames[3]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,09/08/2024,20:00,Chesterfield,Swindon,1,1,D,1,0,...,1.83,2.03,1.86,2.03,1.89,2.05,1.83,1.97,1.91,2.06
1,E3,10/08/2024,15:00,AFC Wimbledon,Colchester,4,2,H,3,2,...,1.75,2.05,1.83,2.07,1.83,2.17,1.76,2.05,1.86,2.12
2,E3,10/08/2024,15:00,Barrow,Crewe,1,0,H,1,0,...,1.88,1.98,1.87,2.02,1.90,2.04,1.84,1.95,1.88,2.09
3,E3,10/08/2024,15:00,Cheltenham,Newport County,3,2,H,2,2,...,1.93,1.93,1.96,1.93,1.98,1.96,1.91,1.88,2.05,1.92
4,E3,10/08/2024,15:00,Doncaster,Accrington,4,1,H,1,0,...,1.93,1.93,1.95,1.93,1.95,1.98,1.89,1.89,1.98,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,03/05/2025,15:00,Morecambe,Harrogate,1,2,A,1,2,...,1.78,2.10,1.74,2.12,1.78,2.18,1.73,2.09,1.81,2.22
548,E3,03/05/2025,15:00,Newport County,Tranmere,1,4,A,1,1,...,1.78,2.03,1.84,2.00,1.84,2.03,1.81,1.98,1.84,2.13
549,E3,03/05/2025,15:00,Notts County,Doncaster,1,2,A,0,2,...,1.80,2.05,1.79,2.06,1.81,2.12,1.76,2.05,1.85,2.15
550,E3,03/05/2025,15:00,Port Vale,Gillingham,0,1,A,0,0,...,2.03,1.83,2.04,1.81,2.05,1.83,2.00,1.80,2.09,1.86
551,E3,03/05/2025,15:00,Swindon,Milton Keynes Dons,0,0,D,0,0,...,2.03,1.83,1.99,1.85,2.04,1.86,1.98,1.83,2.11,1.86

# Add multiple seasons

In [10]:
leagues = ['E0','E1','E2']
frames = []
for league in leagues:
    for season in range(15,25):
        df = pd.read_csv(root + '/' + str(season) + str(season+1) + '/' + league + '.csv', encoding = 'unicode_escape')
        df.insert(1, 'season', season)
        frames.append(df)

In [11]:
len(frames)

30

In [12]:
frames[10]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E1,15,07/08/15,Brighton,Nott'm Forest,1,0,H,0,0,...,1.65,24,0.00,1.75,1.65,2.34,2.25,2.24,3.42,3.55
1,E1,15,08/08/15,Birmingham,Reading,2,1,H,1,0,...,1.69,25,-0.25,2.14,2.07,1.81,1.77,2.53,3.28,3.08
2,E1,15,08/08/15,Blackburn,Wolves,1,2,A,1,2,...,1.79,26,0.00,1.87,1.80,2.11,2.02,2.63,3.37,2.87
3,E1,15,08/08/15,Bolton,Derby,0,0,D,0,0,...,1.80,26,0.50,1.86,1.80,2.09,2.03,4.06,3.65,1.98
4,E1,15,08/08/15,Brentford,Ipswich,2,2,D,0,1,...,1.96,26,-0.50,2.10,2.04,1.84,1.79,2.13,3.61,3.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,15,07/05/16,Middlesbrough,Brighton,1,1,D,1,0,...,1.72,30,-0.25,1.85,1.80,2.11,2.03,2.06,3.45,3.97
548,E1,15,07/05/16,Milton Keynes Dons,Nott'm Forest,1,2,A,1,1,...,1.86,27,0.00,2.17,2.09,1.85,1.76,3.06,3.46,2.44
549,E1,15,07/05/16,Preston,Leeds,1,1,D,0,0,...,1.80,29,-0.50,2.05,2.00,1.90,1.84,2.16,3.69,3.43
550,E1,15,07/05/16,QPR,Bristol City,1,0,H,0,0,...,1.95,29,-0.25,2.09,2.03,1.87,1.80,2.47,3.59,2.92
551,E1,15,07/05/16,Wolves,Sheffield Weds,2,1,H,2,0,...,1.84,30,-0.25,2.06,2.01,1.88,1.83,2.37,3.53,3.13

# Organize data in dictionary

In [13]:
dict_countries = {
                'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2', 'German Bundesliga':'D1', 
                'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3'
                }

In [14]:
dict_countries['Spanish La Liga']

'SP1'

In [ ]:
dict_historical_data = {}

for league in dict_countries:
    frames = []
    for season in range(15,25):
        df = pd.read_csv(root + '/' + str(season) + str(season+1) + '/' + dict_countries[league] + '.csv', encoding = 'unicode_escape')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [ ]:
dict_historical_data['Spanish La Liga']