In [1]:
import pandas as pd

# Read csv file

In [2]:
df_league = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [3]:
df_league.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [4]:
df_league.rename(columns = {'Date':'date',
                            'HomeTeam':'home_team',
                            'AwayTeam':'away_team',
                            'FTHG':'home_goals',
                            'FTAG':'away_goals'}, inplace=True)

In [5]:
df_league.head()

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

# Read multiple urls

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv

*Link: root + season + league*

In [7]:
# create root var
root = "https://www.football-data.co.uk/mmz4281/2425/"

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv
- https://www.football-data.co.uk/mmz4281/2425/E2.csv
- https://www.football-data.co.uk/mmz4281/2425/E3.csv
- https://www.football-data.co.uk/mmz4281/2425/EC.csv

In [ ]:
leagues = ['E0','E1','E2','E3','EC']

for league in leauges:
    pd.read_csv(root + league)